.main {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.main__form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form__fieldset {
  margin-bottom: 10px;
}

.form__input,
.form__result {
  margin: 10px 0 30px 0;
}
